REPO_URL=https://github.com/Klemens98/discord-datepoll.git
REPO_BRANCH=main
INSTALL_COMMAND="npm ci"
START_COMMAND="npm start"
ENV_FILE=/opt/discord-bot/app/.env
WEBHOOK_SECRET=generate-with-openssl-rand-hex-32
WEBHOOK_PORT=9000
PUBLIC_HOST=datepoll.duckdns.org
